@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add Event</h1>

<form method="post">
    <label for="name">Name</label>
    <input name="name" type="text" />
    <br />
    <label for="description">Description</label>
    <input name="description" type="text" />
    <br />
    <input type="submit" value="Add Event" />
</form>
<partial name="/Views/Shared/_LinkListPartial.cshtml" />